@model IEnumerable<EntityLayer.Concrete.Blog>

@{
    ViewData["Title"] = "MonthlyBlog";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Bu Ay Yayınlananlar</h5>
                    <br />
                    <h5 class="alert-danger">@ViewBag.month</h5>

                </div>
                <div class="ibox-content">


                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="project-status">

                                            <span class="label label-primary">Bu Ay Yayınlanan Bloglar</span>
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">@item.BlogTitle</a>
                                            <br>
                                            <small>@item.CreateDate</small>
                                        </td>
                                        <td class="project-actions">
                                            <a href="/Admin/User/ProfileDetails/@item.UserID" class="btn btn-info">Yazarı Göster </a>
                                        </td>

                                        <td class="project-actions">
                                            <a href="/Admin/Blog/BlogDetails/@item.BlogId" class="btn btn-success">Bloğu Göster</a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

