@model EntityLayer.Concrete.Contact

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="w3l-contact-1">
    <div class="contacts-9 py-5">
        <div class="container py-lg-4">
            <div class="headerhny-title text-center">
                <h4 class="sub-title text-center">Bize Ulaşabilirsiniz</h4>
                <h3 class="hny-title mb-0">Mesaj Gönder </h3>
                <p class="hny-title mb-lg-5 mb-4">Hizmetlerimizle ilgili bir sorunuz varsa, aşağıdaki formu kullanarak bizimle iletişime geçmekten çekinmeyin.</p>
            </div>
            <div class="contact-view mt-lg-5 mt-4">
                <div class="conhny-form-section">
                   
                        @using (Html.BeginForm("Index","Contact", FormMethod.Post, new { @class="formhny-sec" }) )
                        {
                            <div class="form-grids-2">
                            <div class="form-input">
                            @Html.TextBoxFor(x => x.ContactUserName, new{placeholder="Ad Soyad ...", id="w3lName"})
                             </div> </div>
                             <br />
                              <div class="form-grids-2">
                            <div class="form-input">
                            @Html.TextBoxFor(x => x.ContactSubject, new{placeholder="Konu ..."})
                             </div> </div>
                               <br />
                              <div class="form-grids-2">
                            <div class="form-input">
                            @Html.TextBoxFor(x => x.ContactMail, new{placeholder="Mail Adresiniz..."})
                             </div> </div>
                               <br />
                             
                               <br />
                              <div class="form-grids-3">
                            <div class="form-input">
                            @Html.TextAreaFor(x => x.ContactMessage, new{placeholder="Mesajınız ..."})
                             </div> </div>

                               <button type="submit" class="btn read-button">Gönder</button>
                        }
                  


                </div>
                    
                @await Component.InvokeAsync("ContactInformation")

            </div>
        </div>
    </div>
   
</section>
