@model IEnumerable<EntityLayer.Concrete.Blog>
<h3 class="aside-title">Editörün Seçtikleri </h3>
<div class="posts-grids">
    @foreach (var item in Model)
   {
        <div class="posts-grid-inner">
        <div class="posts-grid-left pr-0">
            <a href="/Blog/SingleBlog/@item.BlogId">
                <img src="@item.BlogImage" alt=" " class="img-fluid">
            </a>
        </div>
        <div class="posts-grid-right">
            <p><span class="fa fa-clock-o mr-1" aria-hidden="true"></span> @item.CreateDate.ToShortDateString()</p>
            <h4>
                <a href="/Blog/SingleBlog/@item.BlogId" class="text-bl">@item.BlogTitle</a>
            </h4>
            <span class="price"> <a href="/Blog/SingleBlog/@item.BlogId"> <span class="fa fa-comments-o"></span> IMDB: @item.Imdb</a></span>
        </div>
    </div>
   }
</div>
