@using EntityLayer.Concrete
@model List<CategoryVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}



<section class="w3l-blog-single">
    <div class="single blog py-5">
        <div class="container py-lg-4">
            <div style="margin: 8px auto; display: block; text-align:center;">

                <!---728x90--->


            </div>
            <div class="title-content text-left">
                
            </div>
            <div class="d-grid grid-colunm-2 mt-4">
                <!-- left side blog post content -->
                <div class="single-left">


                    <div class="single-left1">
                        
                        <aside class="posts">
                            <h3 class="aside-title">Kategori Listesi </h3>
                            <ul class="category">

                                @foreach (var item in Model)
                               {
                                    <li>
                                    <a href="/Category/CategoryDetails/@item.Id">
                                        <span class="fa fa-angle-right"></span> @item.Name
                                        <label>(@item.ItemCount)</label>
                                        
                                    </a>
                                </li>
                               }
                               
                              
                            </ul>
                        </aside>


                    </div>




                </div>
                <!-- left side blog post content -->
                <!-- right side bar -->

                <div class="right-side-bar">
               @await Component.InvokeAsync("SuggestedMovie")


                </div>

                <!-- //right side bar -->
            </div>
        </div>
    </div>
</section>